<!-- Prevent the demo from appearing in search engines -->
<meta name="robots" content="noindex">

<!-- Roboto Web Font -->
<link href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en" rel="stylesheet">

<!-- Material Design Icons -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- App CSS -->
<link type="text/css" href="assets/css/app.css" rel="stylesheet">

<!-- Demo CSS -->
<link type="text/css" href="assets/css/demo.css" rel="stylesheet">