{
  "plugins": [
    ["@babel/plugin-transform-runtime", {
      "helpers": true,
      "forceAllTransforms": false
    }]
  ],
  "presets": [
    ["@babel/preset-env", {
      "debug": true,
      "useBuiltIns": "usage",
      "modules": "auto",
      "targets": {
        "browsers": [
          "last 2 versions",
          "ie >= 11"
        ]
      }
    }]
  ]
}