@import '../variables';

.mdk-header {
	position: relative;
	z-index: 1;

	margin-bottom: $mdk-spacer;
	height: 200px;

	:last-child {
		margin-bottom: 0;
	}

	&[data-condenses],
	&[data-reveals] {
		will-change: transform;
	}

	[data-fx-condenses] {
		transform-origin: left top;
		opacity: 0;
		&[data-fx-id] {
			opacity: 1;
		}
	}

	[data-primary] {
		z-index: 1;
	}
}

.mdk-header__bg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

[data-effects*="parallax-background"] .mdk-header__bg {
	visibility: hidden;
}

.mdk-header__bg-rear,
.mdk-header__bg-front {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
	background-size: cover;
}

.mdk-header__bg-rear {
	opacity: 0;
}

.mdk-header__content {
	position: relative;
	width: 100%;
	height: 100%;
}

// Fixes [primary] stack order when using condensing header
// z-index on [primary] children is not getting applied because of the translate3d
// applied to the [primary] element
.mdk-header {
	&[data-condenses] {
		.mdk-header__content {
			z-index: 0;
		}
		[data-primary] {
			z-index: 1;
		}
	}
}

.mdk-header--shadow::after {
	position: absolute;
	right: 0;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 5px;
	content: "";
	pointer-events: none;
	opacity: 0;
	box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
	will-change: opacity;
	z-index: -1;
}

.mdk-header--shadow-show::after {
	opacity: 1;
}

.mdk-header--fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin-bottom: 0;
}

.mdk-header[disabled] {
	&, 
	&::after,
	.mdk-header__bg-rear,
	.mdk-header__bg-front,
	.mdk-header__content > [data-primary] {
		transition: none !important;
	}
}