.mdk-header {
	position: relative;
	transition-timing-function: linear;
	transition-property: transform;

	margin-bottom: $mdk-spacer;
	height: 200px;

	&::after {
		position: absolute;
		right: 0;
		bottom: -5px;
		left: 0;
		width: 100%;
		height: 5px;
		content: "";
		transition: opacity 0.4s;
		pointer-events: none;
		opacity: 0;
		box-shadow: inset 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
		will-change: opacity;
		z-index: -1;
	}

	:last-child {
		margin-bottom: 0;
	}

	&[condenses],
	&[reveals] {
		will-change: transform;
	}

	[fx-condenses] {
		transform-origin: left top;
		opacity: 0;
		&[fx-id] {
			opacity: 1;
		}
	}

	[primary] {
		z-index: 1;
	}
}

.mdk-header__bg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

[effects*="parallax-background"] .mdk-header__bg {
	visibility: hidden;
}

.mdk-header__bg-rear,
.mdk-header__bg-front {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;
	background-size: cover;
}

.mdk-header__bg-rear {
	opacity: 0;
}

.mdk-header__content {
	position: relative;
	width: 100%;
	height: 100%;
}

// Fixes [primary] stack order when using condensing header
// z-index on [primary] children is not getting applied because of the translate3d
// applied to the [primary] element
.mdk-header {
	&[condenses] {
		.mdk-header__content {
			z-index: 0;
		}
		[primary] {
			z-index: 1;
		}
	}
}

.mdk-header--shadow::after {
	opacity: 1;
}

.mdk-header--fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin-bottom: 0;
}

.mdk-header[disabled] {
	&, 
	&::after,
	.mdk-header__bg-rear,
	.mdk-header__bg-front,
	.mdk-header__content > [primary] {
		transition: none !important;
	}
}