.mdk-drawer-layout {
	&[fullbleed] {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}
.mdk-drawer-layout__content {
	position: relative;
	height: 100%;
	transition: transform 0.2s;
	min-width: 320px;
}