@import '../variables';

.mdk-drawer-layout {
  height: 100%;
  position: relative;
  overflow: hidden;
  
  &--fullbleed {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &[data-has-scrolling-region] .mdk-drawer {
    position: absolute;
  }
}
.mdk-drawer-layout__content {
  position: relative;
  height: 100%;
  transition: transform 0.2s;
  min-width: 320px;
  z-index: 0;

  // explicit CSS modifier
  // intended for use with .mdk-drawer-layout[has-scrolling-region]
  &--scrollable {
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}