---
title: Parallax box
---
{% extends "layouts/default.html" %}
{% block page %}

  <style>
    .mdk-box {
      height: 500px;
    }
    .mdk-box__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .mdk-box__content h1 {
      font-weight: 300;
      font-size: 3rem;
    }
    .mdk-box__content p {
      font-size: 1.2rem;
      font-weight: 300;
    }
    .mdk-box__bg-front {
      background-image: url('assets/images/photo-1463580009491-9111ca5c3f84.jpg');
    }
    @media (max-width: 768px) {
      .mdk-box__bg-front {
        background-position: bottom;
      }
    }
  </style>

  <div class="container content">
    {% include '_box.html' %}
  </div>

  <div class="mdk-box js-mdk-box bg-primary" 
    data-effects="parallax-background">
    <div class="mdk-box__content">
      <div class="container">
        <h1>Parallax background</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus amet itaque possimus numquam, non harum repudiandae unde, ea, consequuntur nemo quae excepturi id quam temporibus neque! Fuga inventore totam, quas!</p>
      </div>
    </div>
  </div>

  <div class="container content">
    {% include '_sample-content.html' %}
  </div>

{% endblock %}