---
title: Force narrow drawer layout
---
{% extends "layouts/default.html" %}
{% block page %}

  <style>
    .container {
      padding: 2rem;
    }
    button {
      margin-bottom: 2rem;
    }
    .mdk-drawer__inner {
      height: 100%;
      overflow-y: auto;
      text-align: initial;
    }
    .mdk-drawer__inner > :first-child {
      margin-top: 1.25rem;
    }
    .mdk-drawer__inner > * {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      margin-bottom: 1.25rem;
    }
  </style>

  <div class="mdk-drawer-layout js-mdk-drawer-layout" data-push data-force-narrow>

    <!-- content -->
    <div class="mdk-drawer-layout__content">
      <div class="container">
        <button class="btn btn-primary" type="button">Toggle drawer</button>
        {% include '_drawer-layout.html' %}
        <hr>
        {% include '_sample-content.html' %}
      </div>
    </div>

    <!-- drawer -->
    <div class="mdk-drawer js-mdk-drawer">
      <div class="mdk-drawer__content">
        <div class="mdk-drawer__inner">
          <h4>Hello World</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum nisi, aspernatur esse ea velit, possimus quod labore doloremque perspiciatis veniam amet fuga incidunt, beatae saepe assumenda quia laudantium ut qui!</p>
        </div>
      </div>
    </div>

  </div>
  <!-- // END drawer-layout -->

{% endblock %}

{% block footer %}
  <script>
    document.querySelector('button').addEventListener('click', function () {
      document.querySelector('.mdk-drawer').mdkDrawer.toggle()
    })
  </script>
{% endblock %}