---
title: Drawer layout with header layout
---
{% extends "layouts/default.html" %}
{% block page %}

  <style>
    .container {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    [data-position=left] .mdk-drawer__content {
      border-right: 1px solid #eee;
    }
    .mdk-drawer__inner {
      height: 100%;
      overflow-y: auto;
      text-align: initial;
    }
    .mdk-drawer__inner > :first-child {
      margin-top: 1.25rem;
    }
    .mdk-drawer__inner > * {
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      margin-bottom: 1.25rem;
    }
  </style>

  <div class="mdk-drawer-layout js-mdk-drawer-layout" data-fullbleed data-push>
    <div class="mdk-drawer-layout__content">

      <!-- header-layout -->
      <div class="mdk-header-layout js-mdk-header-layout" data-has-scrolling-region>

        <!-- header -->
        <div class="mdk-header js-mdk-header bg-primary"
          data-effects="waterfall" 
          data-condenses data-fixed>
          <div class="mdk-header__content">
            <div>
              <button class="navbar-toggler" type="button">
                <span class="material-icons">menu</span>
              </button>
            </div>
          </div>
        </div>
        
        <!-- content -->
        <div class="mdk-header-layout__content mdk-header-layout__content--fullbleed mdk-header-layout__content--scrollable">
          <div class="container">
            <div class="content">
              {% include '_drawer-layout.html' %}
              <hr>
              {% include '_sample-content.html' %}
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- // END drawer-layout__content -->

    <!-- drawer -->
    <div class="mdk-drawer js-mdk-drawer">
      <div class="mdk-drawer__content">
        <div class="mdk-drawer__inner">
          <h4>Hello World</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum nisi, aspernatur esse ea velit, possimus quod labore doloremque perspiciatis veniam amet fuga incidunt, beatae saepe assumenda quia laudantium ut qui!</p>
        </div>
      </div>
    </div>
    <!-- // END drawer -->

  </div>
  <!-- // END drawer-layout -->

{% endblock %}

{% block footer %}
  <script>
    document.querySelector('.navbar-toggler').addEventListener('click', function () {
      document.querySelector('.mdk-drawer').mdkDrawer.toggle()
    })
  </script>
{% endblock %}