---
title: Blend background color header
---
{% extends "layouts/demo.html" %}
{% block page %}

  <style>
    .mdk-header {
      height: 300px;
    }
    .mdk-header__bg-front {
      background-color: #E91E63;
    }
    .container {
      padding-top: 300px;
    }
  </style>

  <div class="mdk-header mdk-js-header bg-primary" condenses reveals 
    effects="waterfall blend-background">
    <div class="mdk-header__content">
      <button class="navbar-toggler" type="button">
        <span class="material-icons">menu</span>
      </button>
    </div>
  </div>

  <div class="container">
    <div class="content">
      {% include '_sample-content.html' %}
    </div>
  </div>

{% endblock %}