---
title: data-condenses header
---
{% extends "layouts/default.html" %}
{% block page %}

  <div class="mdk-header js-mdk-header bg-primary" data-condenses>
    <div class="mdk-header__content">
      <div class="bg-primary">
        <button class="navbar-toggler" type="button">
          <span class="material-icons">menu</span>
        </button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="content">
      {% include '_header.html' %}
      <hr>
      {% include '_sample-content.html' %}
    </div>
  </div>

{% endblock %}